In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

%load_ext dotenv
%dotenv

import pandas as pd
import suggester as suggester

## 1. Preparing synthetic data

In [2]:
_config = suggester.SearchConfig(
  api_key=os.getenv("OPENAI_API_KEY"),
  cache_dir="../build/cache",
)
engineer = suggester.SearchDataEngineer(_config)

In [5]:
_routes, _sessions = await engineer.generate_data(route_context="travel agency", route_count=10, session_count=50)

routes_data = pd.DataFrame([route.model_dump() for route in _routes])
display(routes_data.head())

sessions_data = pd.DataFrame([session.model_dump() for session in _sessions])
sessions_data["intention_type"] = sessions_data["intention"].apply(lambda x: x["type"].value)
sessions_data["intention_context"] = sessions_data["intention"].apply(lambda x: x["context"])
sessions_data = sessions_data.drop(columns=["intention"])
display(sessions_data.head())

,id,path,tags
0,route_1,/destinations/europe,"[travel, destinations, europe, travel agency, ..."
1,route_2,/destinations/asia,"[travel, destinations, asia, travel agency, ad..."
2,route_3,/destinations/americas,"[travel, destinations, americas, travel agency..."
3,route_4,/packages/family,"[travel, packages, family, travel agency, fami..."
4,route_5,/packages/adventure,"[travel, packages, adventure, travel agency, o..."

,id,route_id,last_date,time_spent,intention_type,intention_context
0,session_1,route_1,2023-10-01,1800000,search,Search for popular destinations in Europe.
1,session_2,route_1,2023-10-02,2400000,navigation,Clicked on the Europe destinations link.
2,session_3,route_2,2023-10-01,1200000,search,Searching for adventure trips in Asia.
3,session_4,route_2,2023-10-03,3000000,navigation,Navigated to Asia destinations page.
4,session_5,route_3,2023-10-04,1500000,search,Looking for travel packages in the Americas.